.w-full.text-right
  i.ph.ph-x-circle.text-xl.text-red-700(
    hx-get=`/api/image?id=${id}&page=${current_page}`,
    hx-trigger='click',
    hx-target=`#projectImage${id}`,
    hx-indicator=`#loading${id}`
  )
.h-52.overflow-y-auto
  p.leading-5.mb-2 #{ name }
  a.cursor-pointer.text-blue-700(
    class='hover:text-blue-500 hover:underline',
    hx-get='/api',
    hx-target='#container'
  ) GitHub Link
  h1.text-1xl.mt-1 Technology
  ul.flex.flex-row
    each item in tech
      li.my-2.mr-2.leading-5= item
  p.my-4.leading-5 #{ summary }
