img.cursor-pointer.rounded-md(
  class='hover:opacity-70',
  src=image_url,
  alt='',
  hx-get=`/api/details?id=${id}&page=${current_page}`,
  hx-trigger='click',
  hx-target=`#projectImage${id}`,
  hx-indicator=`#loading${id}`
)
