header.my-4.border-b
  nav.py-2
    a.cursor-pointer.text-blue-700.pb-2.border-b-2.border-transparent.mr-6(
      class='hover:border-blue-500 hover:text-blue-500',
      hx-get='/api',
      hx-target='#container'
    ) First Last
    a.cursor-pointer.text-blue-700.pb-2.border-b-2.border-transparent.mr-6(
      class='hover:border-blue-500 hover:text-blue-500',
      hx-get='/api/about',
      hx-target='#container'
    ) About
    a.cursor-pointer.text-blue-700.pb-2.border-b-2.border-transparent.mr-6(
      class='hover:border-blue-500 hover:text-blue-500',
      hx-get='/api/project?id=1',
      hx-target='#container'
    ) Projects
    a.cursor-pointer.text-blue-700.pb-2.border-b-2.border-transparent.mr-6(
      class='hover:border-blue-500 hover:text-blue-500',
      hx-get='/api/contact',
      hx-target='#container'
    ) Contact
