.py-20
  h1.w-full.mb-2.text-center.text-3xl #{ name }
  .w-full.flex.flex-row.justify-center
    p.arrow.self-center.mr-10.cursor-pointer.text-4xl(
      hx-get=`/api/projects?id=${prev_id}&prev=`,
      hx-target='#container'
    ) <
    img.h-80.w-96.rounded-md(src=image_url)
    p.arrow.self-center.ml-10.cursor-pointer.text-4xl(
      hx-get=`/api/projects?id=${next_id}&next=`,
      hx-target='#container'
    ) >

    //- h2.text-2xl As a professional
    //- ul
    //- li PAID
    //- li metrics
    //- li cental api
    //- li connect metrics
    //- li client agreements
    //- li signup-connect and signup
    //- li construct splicing
    //- h2.text-2xl As a tinker-er
    //- ul
    //- li chat bot
    //- li myspace app
    //- li command line game
    //- h2.text-2xl As a bootcamp student
    //- ul
    //- li rideboost
    //- li backpackd
    //- li trail buddy
    //- li quiz app
    //- h2.text-2xl tech i have played around with along the way
    //- ul
    //- li mapbox
    //- li tailwindcss
    //- li express.js
    //- li auth0
    //- li postgres
    //- li postman
    //- li typescript
    //- li nextjs
    //- li react
    //- li javascript
    //- li jquery
    //- li react testing library
    //- li jest
