.mt-2
  each page in pagination
    - let isActivePage = Number(current_page) === page
    a.cursor-pointer.text-lg.text-blue-700.pb-1.border-b-2.mr-4(
      class=`hover:border-blue-500 hover:text-blue-300 ${isActivePage ? 'border-blue-500':'border-transparent'}`,
      hx-get=`/api/projects?page=${page}`,
      hx-target='#container',
      hx-push-url=`/projects.html?page=${page}`
    )= page
ul.grid.grid-cols-1.gap-4.mt-2(class='md:grid-cols-3')
  each project in projects
    li.relative
      .flex
        p.text-xs.leading-5.htmx-indicator(id=`loading${project.id}`) Loading...
      .image-container.rounded-md(id=`projectImage${project.id}`)
        img.cursor-pointer.rounded-md(
          class='hover:opacity-70',
          src=project.image_url,
          alt='',
          hx-get=`/api/details?id=${project.id}&page=${current_page}`,
          hx-trigger='click',
          hx-target=`#projectImage${project.id}`
        )
